@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
:root {
  --color-prime: #ffffff;
  --bg-color-mobile-menu: #e17992;
  --bg-color-nav-mobile-menu: #e18298;
  --bg-color-hero: #ffb8ca;
  --bg-btn: #d41342;
  --bg-accent-btn: #ecebeb;
  --text-color-prime: #000000;
  --text-color-secondary: #907e82;
  --accent-text-color: #d41443;
  --subtitle-color: #ffa5ba;
  --fill-customer: #e1e1e1;
  --bg-customer: #fafafa;
  --bg-products-second: #f0d1a5;
  --bg-products-third: #c2e297;
  --bg-about-footer: #fff5f6;
  --bg-secondary: #ffffff;
  --fill-icon-socials: #fea5bb;
  --fill-icon-circle: #d9d9d9;
  --fill-icon-accent-circle: #c7133e;
  --fill-icon-accent-home: #d31342;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", cursive;
}

.gallery {
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39.6%, var(--bg-about-footer)), color-stop(40.1%, var(--bg-secondary)));
  background-image: linear-gradient(to bottom, var(--bg-about-footer) 39.6%, var(--bg-secondary) 40.1%);
}

.gallery__image {
  margin: 0 auto;
}

.footer {
  background-color: var(--bg-about-footer);
}

.footer .footer__main-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 480px) {
  .footer .footer__main-container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .footer .footer__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1280px) {
  .footer .footer__main-container {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
  }
}

@media (min-width: 768px) {
  .footer .footer__headings {
    margin-bottom: 90px;
  }
}

@media (min-width: 1280px) {
  .footer .footer__headings {
    margin-bottom: 100px;
  }
}

.footer .footer__heading-one {
  margin-bottom: 17px;
  width: 230px;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--subtitle-color);
}

@media (min-width: 768px) {
  .footer .footer__heading-one {
    width: 340px;
    font-size: 26px;
    letter-spacing: 0.04em;
  }
}

@media (min-width: 1280px) {
  .footer .footer__heading-one {
    width: 472px;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }
}

.footer .footer__heading-two {
  margin-bottom: 43px;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.footer .footer__heading-two .footer__heading-two--br {
  display: block;
}

@media (min-width: 768px) {
  .footer .footer__heading-two {
    margin-bottom: 0;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}

@media (min-width: 1280px) {
  .footer .footer__heading-two {
    font-size: 58px;
  }
  .footer .footer__heading-two .footer__heading-two--br {
    display: inline;
  }
}

.social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  list-style: none;
}

.social-icons__list .social-icons_item:not(:last-child) {
  margin-right: 30px;
}

@media (min-width: 1280px) {
  .social-icons__list {
    margin-bottom: 50px;
  }
}

.social-icons__svg {
  fill: var(--color-prime);
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--fill-icon-socials);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .social-icons__link {
    width: 34px;
    height: 34px;
  }
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-text-color);
}

.footer-phone {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  text-align: right;
  color: var(--text-color-prime);
}

.footer-phone .footer-phone__link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer-phone {
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1280px) {
  .footer-phone {
    font-size: 16px;
  }
}

.footer-phone .footer-phone__number {
  color: var(--accent-text-color);
}

.footer__copyright {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid var(--fill-customer);
  color: var(--text-color-secondary);
}

@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 29px;
    padding-bottom: 18px;
    line-height: 1.86;
  }
}

@media (min-width: 1280px) {
  .footer__copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.footer__copyright .footer__copyright-text {
  display: block;
}

@media (min-width: 768px) {
  .footer__copyright .footer__copyright-text {
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */