// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
:root {
    --bg-color-prime:#E5E5E5;
    --bg-color-mobile-menu:rgba(225, 121, 146, 1);
    --bg-color-hero: rgba(255, 184, 202, 1);
    --bg-color-hero-card: rgba(255, 165, 186, 1);
    --bg: rgba(255, 184, 202, 1);
    --text-color-prime:rgba(255, 255, 255, 1);
    --text-color-secondary:rgba(212, 20, 67, 1);


}