<section class="about" id="about">
  <div class="about__container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__description">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/big-eco-desktop.png 1x,
            ./images/gallery/desktop/big-eco-desktop@2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img src="./images/gallery/desktop/big-eco-desktop.png" width="280" alt="cow and milk" />
      </picture>
      
      <p class="about__text about__text--black">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text about__text--gray">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text about__text--gray">Aliquam erat volutpat. Aenean accumsan.</p>
      <button class="about__button" type="button">
        Read more
      </button>
    </div>
  </div>
</section>