<footer class="section-footer">
  <div class="section-footer__container">
    <!-- Footer heading -->
    <p class="section-footer__heading-one">homemade ice cream made</p>
    <p class="section-footer__heading-two">with passion</p>

    <!-- Social Icons -->
    <ul class="social-icons">
      <li class="social-icons_item">
        <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
          ><svg class="social-icons__svg" width="32" height="32"><use href=""></use></svg
        ></a>
      </li>

      <li class="social-icons_item">
        <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
          ><svg class="social-icons__svg" width="32" height="32"><use href=""></use></svg
        ></a>
      </li>

      <li class="social-icons_item">
        <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
          ><svg class="social-icons__svg" width="32" height="32">< href=""></></svg
        ></a>
      </li>
    </ul>

    <!-- Contact number -->
    <p class="footer-phone">
      Feel free to contact
      <a href="tel:+610383766284" class="footer-phone__link"
        ><span class="footer-phone__number">+61 (0) 383 766 284</span></a
      >
    </p>

    <!-- Footer copyright -->
    <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
