<header class="header">
    <div class="header-container">
    
      <a class="header__logo" href="" > <img src="./images/header-hero/logo.png  " alt="" width="199px" height="50px"> </a>
     
      
      <ul class="header__list">
        <li class="header__line">
          <a class="header__link" href="">Home</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">About us</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">How it’s made?</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">Our products</a>
        </li>
        <li class="header__line"> 
          <a class="header__link" href="">Contact</a>
        </li>
      </ul>
      <button class="header__but">Buy now</button>
    </div>
   
  </header>
  <section class="hero">
    <div class="hero-container">
      <h1 class="hero__tittle">
        <span class="hero__one">
          ice cream <br />
          made with <br
        /></span>
        <span class="hero__two"> PASSION</span>
      </h1>
     <!-- <span>16 <br> <span>cafes </span>   </span>
      <span> 23<span>food trucks</span> </span>-->
  <div class="hero__prod">
      <button class="hero__products">Products</button>
      <button class="hero__products1">How it’s made?</button>
   </div>   
    </div>
    <svg class="header__icon">
   
      <use  class="icon-header__open" href=""  width="20"
      height="12"></use>
      <use class="icon-header__close"  href=""  width="14"
      height="14"> </use>
    
    </svg>
  </section>
  


