<header class="header">
    <div class="header-container">
    
      <a class="header__logo" href="" > <img src="./images/header-hero/logo.png  " alt="" width="199px" height="50px"> </a>
     
      
      <ul class="header__list">
        <li class="header__line">
          <a class="header__link" href="">Home</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">About us</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">How it’s made?</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="">Our products</a>
        </li>
        <li class="header__line"> 
          <a class="header__link" href="">Contact</a>
        </li>
      </ul>
      <button class="header__but">Buy now</button>
    </div>
    <svg class="header__svg" width="20" height="12">
      <use href="./icons/sprite.svg#icon-burger"></use>
    </svg>
   
  </header>
  <section class="hero">
    <div class="hero-container">
      <span><img class="back" src="./images/header-hero/back@2x.png" alt=""></span>
     <span> <img class="ice" src="./images/header-hero/ice@2x.png" alt=""></span>
      <span><img class="girl" src="./images/header-hero/girl@2x.png" alt=""></span>
      <div class="hero__span">
      <h1 class="hero__tittle">
        <span class="hero__one">
          ice cream <br />
          made with <br
        /></span>
        <span class="hero__two"> PASSION</span>
      </h1>
      
     
  <div class="hero__prod">
      <button class="hero__products">Products</button>
      <button class="hero__products1">How it’s made?</button>
   </div> 
   </div>
   <span><img class="milk" src="./images/header-hero/milk.png" alt=""></span>  
  <a href=""><img class="right" src="./images/header-hero/right@2x.png" alt=""></a>
   
    </div>
  </section>  
      
  
   
    
  
  


