<header class="header" id="hero-header" >
    <div class="header-container">
    
      <a class="header__logo" href="" > <img src="./images/header-hero/logo.png  " alt="" width="199px" height="50px"> </a>
      <svg class="header__svg" width="20" height="12">
        <use href="./icons/sprite.svg#icon-burger" ></use>
      </svg>
      
      <ul class="header__list">
        <li class="header__line">
          <a class="header__link" href="#hero-header">Home</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="#about">About us</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="#advantages">How it’s made?</a>
        </li>
        <li class="header__line">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="header__line"> 
          <a class="header__link" href="">Contact</a>
        </li>
      </ul>
     
      <button class="header__but"> <span>Buy now</span> 
        <svg class="header__svg-but">
          <use href="./icons/sprite.svg#icon-right" ></use>
        </svg>
      </button>
     
    </div>
   
   
  </header>
  <section class="hero">
    <div class="hero-container">
      <span><img class="back" src="./images/header-hero/back@2x.png" alt=""></span>
     
     <span> <img class="ice" src="./images/header-hero/ice@2x.png" alt=""></span>
      <span><img class="girl" src="./images/header-hero/girl@2x.png" alt=""></span>
      <div class="hero__span">
      <h1 class="hero__tittle">
        <span class="hero__one">
          ice cream <br />
          made with <br
        /></span>
        <span class="hero__two"> PASSION</span>
      </h1>
      
     
  <div class="hero__prod">
      <button class="hero__products">Products</button>
      <button class="hero__products1">How it’s made?</button>
   </div> 
   </div>
 
   <span><img class="milk" src="./images/header-hero/milk.png" alt=""></span> 
   <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> 
<button class="right">
  <svg class="right-svg" >
    <use href="./icons/sprite.svg#icon-arrow-right2"></use>
  </svg>
</button>
<div class="check">
   <span class="check__one">16  </span>
   <span class="check__two">cafes</span>
   <span class="check__one">23  </span>
   <span class="check__two">food trucks</span>



</div>

  
   
    </div>
  </section>  
      
  
   
    
  
  


