
<div class="mobile-menu">
    <button type="button" class="close">
        <svg>
            <use href=""></use>
        </svg>
    </button>
    <div><a href="">
            <button type="button" class="button">
                <span class="buy-now">
                    Buy now
                </span>
                <svg class="right-arrow">
                    <use href="./icons/sprite.svg#icon-right">
                    </use>
                </svg>
            </button>
        </a>
    </div>
    <div>
        <ul class="list">
            <li>
                <a href=""><span>Home</span></a>
            </li>
            <li>
                <a href=""><span>About us</span></a>
            </li>
            <li>
                <a href=""><span>How it's made?</span></a>
            </li>
            <li>
                <a href=""><span>Our products</span></a>
            </li>
            <li>
                <a href=""><span>Contact</span></a>
            </li>
        </ul>
    </div>
</div>

