
<div class="">
    <button>
        <svg>
            <use href=""></use>
        </svg>
    </button>
    <div><a href="">
            <button type="button" class="button">
                <span class="buy-now">
                    Buy now
                    <svg>
                        <use href="">
                            <a href="../icons/sprite.svg#icon-right"></a>
                        </use>
                    </svg>
                </span>
            </button>
        </a>
    </div>
    <div>
        <ul class="list">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About us</a>
            </li>
            <li>
                <a href="">How it's made?</a>
            </li>
            <li>
                <a href="">Our products</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</div>

