
<div class="mobile-menu">
    <button type="button" class="close">
        <svg>
            <use href="./icons/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <div class="buy-mobile-menu"><a href="">
            <button type="button" class="button">
                <span class="buy-now">
                    Buy now
                </span>
                <svg class="right-arrow">
                    <use href="./icons/sprite.svg#icon-right">
                    </use>
                </svg>
            </button>
        </a>
    </div>
    <div>
        <ul class="list">
            <li class="mobile-li">
                <a href=""><span class="menu-item">Home</span></a>
            </li>
            <li class="mobile-li">
                <a href=""><span class="menu-item">About us</span></a>
            </li>
            <li class="mobile-li">
                <a href=""><span class="menu-item">How it's made?</span></a>
            </li>
            <li class="mobile-li">
                <a href=""><span class="menu-item">Our products</span></a>
            </li>
            <li class="mobile-li">
                <a href=""><span class="menu-item">Contact</span></a>
            </li>
        </ul>
    </div>
</div>

