<section class="products__section">
    <div class="products__container">
        <p class="products__title-label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__card-title">ice cream</h3>
                <p class="products__card-dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__btn">+</button>
            </li>
            <li class="products__item">
                <h3 class="products__card-title">ice coffee</h3>
                <p class="products__card-dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__btn">+</button>
            </li>
            <li class="products__item">
                <h3 class="products__card-title">milkshakes</h3>
                <p class="products__card-dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__btn">+</button>
            </li>
        </ul>
    </div>
</section>
