// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  width: 186px;
  height: 44px;
  border-radius: 22px;
  border: none;
}

.button--secondary {
  color: #d41443;
  background-color: #ffffff;

  &:focus,
  &:hover {
    color: #ffffff;
    background-color: #d41443;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button__text {
  padding-right: 21px;
}
.button__icon {
  display: inline-flex;
  fill: none;
  stroke: currentColor;
  width: 7px;
  height: 10px;
}

.close-button {
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 23px;
  right: 34px;

  background-color: transparent;
  border: 0;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}
.icon-close {
  fill: none;
  stroke: currentColor;
  width: 14px;
  height: 14px;
}
