// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    position: absolute;
    width: 80.72px;
    height: 44px;
    left: 77.28px;
    top: 60px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: #D41443;
    width: 186px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;

}
.buy-now{
    
}
.right-arrow{
    fill: #D41443;
    width: 4.68px;
    height: 8px;
    stroke: 2px;
}

.close{
    width: 14px;
height: 14px;
}