.customers {
    padding-top: 80px;
    margin: auto;
    padding-bottom: 170px;
  }
  .customers__container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 320px) {
    .customers__container {
      width: 320px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .customers__container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .customers__container  {
      width: 1280px;
    }
  }
  .customers__wrapper {
    position: relative;
    background-color: #fafafa;
    padding-right: 66px;
    padding-left: 57px;
  
    margin: 0 auto;
    width: 100%;
  }
  .customers__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .customers__text {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    background-image: url(../images/customers/text-line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 200;
  }
  
  .customers__quotes {
    top: 28px;
    left: 61px;
    position: absolute;
    width: 54px;
    height: 40px;
    fill: tomato;
    z-index: 1;
  }
  .customers__dots-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 73px;
    height: 4px;
    width: 32px;
    background-image: url(../images/customers/dots.png);
  }
  .customers__item-name {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
  }
  .customers__photo {
    margin: 0 auto;
  }

  .customers__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .customers__dots-item:not(:last-child) {
    margin-right: 18px;
  }
  .customers__dots-item {
    display: block;
    cursor: pointer;
    border-radius: 50%;
  }
  .customers__dots-item::after {
    display: block;
    transition: background-color 0.6s ease;
    content: '';
    height: 12px;
    width: 12px;
    fill: #ddd;
    background-image: url(../images/customers/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .customers__dots-item.active::after {
    opacity: 0;
  }
  .active,
  .customers__dots-item:focus {
    background-image: url(../images/customers/dots-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: unset;
  }
  
  /* Анимация слайдов */
  .customers .customers__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .picture-wrapper {
    margin-bottom: 29px;
  }
  @media screen and (min-width: 768px) {
    .customers__text {
      font-size: 14px;
      line-height: 30px;
      background-image: url(../images/customers/text-line-tablet.png);
    }
    .customers {
      padding-top: 121px;
    }
    .customers__wrapper {
      width: 524px;
    }
    .customers__item-name {
      font-size: 16px;
      line-height: 30px;
      top: 320px;
    }
    .customers__quotes {
      top: 15px;
      left: 40px;
    }
    .photo__wrapper {
      margin-bottom: 20px;
    }
    .customers__dots-image {
      margin-bottom: 74px;
    }
  }
  @media screen and (min-width: 1280px) {
    .customers {
      padding-top: 123px;
    }
    .customers__wrapper {
      width: 822px;
    }
    .customers__text {
      font-size: 16px;
      line-height: 30px;
      background-image: url(../images/customers/text-line-pc.png);
    }
    .customers__item-name {
      font-size: 20px;
      line-height: 37px;
      top: 285px;
    }
    .customers__dots-image {
      margin-top: 15px;
      margin-bottom: 81px;
    }
  }
