ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  outline: none;
}
.hero-container {
  background: #ffb8ca;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width: 320px;
  overflow: hidden;
  @media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: visible;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 45px;
    padding-right: 45px;
    overflow: visible;
  }
}
.header-container {
  background: #ffb8ca;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 37px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
.header__svg {
  stroke: #d41443;
 @media screen and (min-width: 480px) {
   right: 20px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 210px;
 

  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}


.header__list {
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}
.header__line:not(:last-child) {
  margin-right: 35px;
}
.header__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.header__link:hover,
.header__link:focus {
  color: #d41443;
}
.header__but {
  display: none;

  @media screen and (min-width: 768px) {
    width: 160px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #d41443;
    
  }
  @media screen and (min-width: 1200px) {
    background: #ffffff;
    border-radius: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #d41443;
    margin-left: 110px;
  }
}
.header__but:focus,
.header__but:hover {
  background: #ecebeb;
}
.header__svg-but {
  fill: #d41443;
  width: 20px;
  height: 20px;
}
.hero__span {
  position: relative;
}
.hero__tittle {
  margin-top: 0;

  @media screen and (min-width: 480px) {
    padding-top: 137px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 15px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 115px;
    padding-top: 84px;
  }
}
.hero__one {
  color: #ffffff;
  @media screen and (min-width: 480px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  @media screen and (min-width: 768px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.hero__two {
  color: #d41443;

  @media screen and (min-width: 480px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 0.95;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #d41443;
  }
  @media screen and (min-width: 768px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #d41443;
  }
  @media screen and (min-width: 1200px) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #d41443;
  }
}
.hero__prod {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
  margin-left: 20px;
  margin-top: 20px;

  @media screen and (min-width: 480px) {
    margin-bottom: 160px;
    margin-left: 0;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 115px;
    margin-top: 25px;
    margin-bottom: 0;
  }
}
.hero__products {
  outline: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  border-radius: 20px;
  display: block;
  align-items: center;
  text-align: center;
  background-color: #d41443;
  color: #ffffff;
  width: 62px;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;
  margin-right: 15px;
  @media screen and (min-width: 480px) {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    width: 61px;
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1200px) {
    width: 104px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}
.hero__products:focus,
.hero__products:hover {
  background: #c7133e;
}
.hero__products1 {
  outline: none;
  width: 82px;
  height: 24px;
  color: #d41443;
  border-radius: 20px;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
  font-size: 8px;
  line-height: 1.25;

  width: 82px;
  height: 24px;
  @media screen and (min-width: 480px) {
    font-size: 8px;
    line-height: 1.25;

    width: 82px;
    height: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;

    width: 82px;
    height: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;

    width: 138px;
    height: 40px;
  }
}
.hero__products1:focus,
.hero__products1:hover {
  background: #ecebeb;
}

.milk {
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    width: 124px;
    padding-bottom: 28px;
    padding-top: 19px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    width: 188px;
    margin-left: 77px;
    padding-bottom: 50px;
  }
}

.back {
  right: -65px;
  position: absolute;
  bottom: 75px;
  @media screen and (min-width: 480px) {
    width: 346px;
    height: 344px;
  }
  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    right: 137px;
    bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 538px;
    height: 538px;
    right: 137px;
    bottom: 46px;
  }
}
.ice {
  position: absolute;
  width: 171px;
  height: 410px;
  right: 32px;
  bottom: 0;
  @media screen and (min-width: 480px) {
    width: 171px;
    height: 410px;
    right: 32px;
    bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    left: 378px;
    top: -10px;
  }
  @media screen and (min-width: 1200px) {
    width: 236px;
    height: 557px;
    left: 594px;
    top: 20px;
  }
}
.girl {
  position: absolute;
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 168px;
    height: 133px;
    display: block;
    right: 34px;
    bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 293px;
    height: 232px;
    display: block;
    right: 109px;
    bottom: 0;
  }
}
.right {
  display: none;

  @media screen and (min-width: 768px) {
    background: #ffffff;
    width: 18px;
    height: 18px;
    display: flex;
    outline: none;
    border-radius: 50%;
    border-color: #ffffff;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 34px;
    left: 154px;
  }
  @media screen and (min-width: 1200px) {
    background: #ffffff;
    width: 26px;
    height: 26px;
    display: flex;
    outline: none;
    border-radius: 50%;
    border-color: #ffffff;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 56px;
    left: 295px;
  }
}
.right-svg {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 10px;
    fill: #d41443;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 10px;
    fill: #d41443;
  }
}
.check {
  display: none;
  position: absolute;
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    right: 44px;
    top: 96px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    right: 115px;
    top: 160px;
  }
}

.check__one {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: right;
  color: #d41443;
  letter-spacing: 0.04em;
 
  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
    z-index: 2;
  }
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.2;
    z-index: 2;
  }
}
.check__one::after {
 
  @media screen and (min-width: 768px) {
    content: '';
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #ffffff;
    position: absolute;
    left: 34px;
    z-index: 1;
  }
  @media screen and (min-width: 1200px) {
    content: '';
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    left: 62px;
    z-index: 1;
  }
}
.check__two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;

  text-align: right;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
}