.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
.mobile-menu{
    position: absolute;
    width: 254px;
    height: 1020px;

    background: #E17992;
}